* {
  box-sizing: border-box;
}

body {
  background-color: rgb(247, 247, 247);
}

.sidebar {
  height: 100%;
  background-color: #0a474d;
  position: fixed;
  top: 0;
}

@media screen and (max-width: 700px) {
  .sidebar {
    height: 100%;
    width: 80%;
    background-color: #fff;
    display: none;
    position: fixed;
    top: 0;
  }

  .open {
    display: block;
  }

  .icon_con {
    width: 100%;
  }
}

.live_meeting {
  border: 1px solid;
}

.live_meeting_icon {
  background-color: white;
}

.rocket {
  width: 200px;
  padding: 0 30px 0 30px;
}

.account_status {
  background-color: #fff;

  /* box-shadow: 0px 0px 4px 0px rgba(30, 27, 27, 0.789); */
}

.whatsapp_engagement {
  background-color: rgb(96, 14, 125);
}

.business_number {
  color: rgb(10, 71, 76);
}

.plan {
  background-color: rgb(7, 49, 53);
}

.features {
  cursor: pointer;
  padding: 5px;
  border-radius: 7px;
  transition: 0.5s;
}

.store_icon {
  background-color: rgb(255, 204, 29);
  padding: 10px;
  border-radius: 50%;
}

.green_tick {
  background-color: rgb(100, 229, 61);
  padding: 5px;
  border-radius: 50%;
}

.input_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px 0 6px 0;
}

@media screen and (max-width: 500px) {
  .input_container {
    display: flex;
    flex-direction: column;
  }
}

.apply_for_whatsapp {
  background-color: rgb(235, 245, 243);
}

.features:hover {
  background-color: rgba(30, 27, 27, 0.087);
}

.profile_btn {
  background-color: silver;
}

.application_process {
  cursor: pointer;
}

.application_process:hover {
  border-radius: 8px;
  background-color: rgb(235, 245, 243);
}

@media screen and (min-width: 50em) {
  .sidebar {
    width: 70px;
  }

  .sidebar_active {
    display: none;
  }
}
